# Experiment

In [13]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt


header = ["inviteId","codeRevision","codeSmellIdentification","degree","devExperience","javaExperience","objOrientedExperience","origin","yearsDevExperience"]
participants =  pd.read_csv('participant.csv', header=None)
participants.columns=header


#participants.to_csv('participant.csv', index=False)

#participants

In [14]:
header = ["id","questionnaire_id","task_id"," secondsToAnswer","isDt","answer_ptr_id","answer_csagreement","answer_description","answer_dtDescription"]
answer =  pd.read_csv('answer.csv', header=None, escapechar="\\", encoding="latin_1")
answer.columns=header


#participants.to_csv('participant.csv', index=False)

answer.head()
answer.tail()

,id,questionnaire_id,task_id,secondsToAnswer,isDt,answer_ptr_id,answer_csagreement,answer_description,answer_dtDescription
0,102,16,3,119.14,1,102,2,The class is big and have too much code and va...,none
1,103,16,11,169.35,1,103,1,"It does have a long parameter list, could be a...","Helped me to see the number of statements, inp..."
2,104,16,7,250.75,1,104,1,The child class uses few methods from parent.,Helped me to identify why it was a refused beq...
3,105,16,4,235.66,1,105,-1,"It does too much in just one method, could be ...",helped me to identify where to search
4,106,16,14,47.85,1,106,-2,The method just have three lines,none

,id,questionnaire_id,task_id,secondsToAnswer,isDt,answer_ptr_id,answer_csagreement,answer_description,answer_dtDescription
151,253,36,6,35.65,1,253,2,too long,helped to see lines
152,254,36,16,46.02,1,254,-1,too short,I do not have experience with cohesion
153,255,36,5,78.03,1,255,1,Depth of Inheritance,Helped to see depth of Inheritance
154,256,36,8,46.51,1,256,1,too long,I do not have experience with cohesion
155,257,36,15,31.02,1,257,-1,do not see may parameters,did not help too much

In [ ]:
import  statsmodels.stats.inter_rater as ir

ir.fleiss_kappa([
        [0,0,0,0,14],
        [0,2,6,4,2],
        [0,0,3,5,6],
        [0,3,9,2,0],
        [2,2,8,1,1],
        [7,7,0,0,0],
        [3,2,6,3,0],
        [2,5,3,2,2],
        [6,5,2,1,0],
        [0,2,2,3,7]
    ], method='fleiss')

# Teste

## Teste 1

tese

$P(A \mid B) = \frac{P(B \mid A)P(A)}{P(B)}$